@import "../../../theme/filter_chips.scss";

.filter_chip {
    text-transform: lowercase;
    text-align: center;
    border-width: 1px;
}
.filter_values_container {
    margin-left: 13px;
}
.filter_section_name {
    text-transform: capitalize;
}

ion-title {
    h3,h4 {
        text-align: center;
        margin: auto;
    }
}
