<ion-content [fullscreen]="true">

    <div id="container">
        <div class="search_container" #searchContainer>
            <div class="top-search-tools">
                <ng-select class="search-comuni-select" [items]="comuni" bindLabel="descProgrammaOperativo"
                    [addTag]="false" [multiple]="false" [searchFn]="searchComune" [hideSelected]="false"
                    [minTermLength]="2" [virtualScroll]="true" (change)="onComuneChange($event)"
                    [placeholder]="'home.comune'|transloco" [typeToSearchText]="" [(ngModel)]="comuneSelezionato">

                </ng-select>
                <ion-fab-button (click)="onUserLocationClick()" id="user_locator">
                    <ion-icon name="locate-outline"></ion-icon>
                </ion-fab-button>
            </div>
            <div #tipologieFilter class="horizontal_scroll_flex">
                <ion-chip mode="md" class="filter_chip" (click)="onChipClick(tipologia)"
                    [attr.data-filterPropertyValue]="tipologia.replaceAll(' ', '_').replaceAll('\'','')"
                    data-filterPropertyName="tipologia"
                    [ngClass]="{'chip_selected': tipologieSelezionate.includes(tipologia)}"
                    *ngFor="let tipologia of tipologie">
                    <ion-icon name="ellipse" color="dark"></ion-icon>
                    <ion-label>{{tipologia}}</ion-label>
                </ion-chip>
                <!-- <a [routerLink]="['/','advanced-search']"> -->
                <ion-chip mode="md" class="filter_chip advanced_search" (click)="openSearchModal()">
                    <ion-icon class="advanced_seach_icon" name="ellipsis-horizontal-outline"></ion-icon>
                </ion-chip>
                <!-- </a> -->
            </div>
        </div>
        <div #mapContainer id="mapContainer">
            <mgl-map #homeMap [attributionControl]="false" [style]="mapStyle" [zoom]="[9]" (mapLoad)="mapLoaded($event)"
                (zoomEnd)="mapZoomEnd($event)" (mapDragEnd)="onDragEnd($event)" [center]="[12.5510662,45.6331619]">
                <mgl-geojson-source id="strutture" [data]="struttureGeoJson" promoteId="codiceIdentificativo">
                </mgl-geojson-source>

                <mgl-layer [minzoom]="10" id="strutture-label-layer" type="symbol" source="strutture"
                    [layout]="struttureLabelLayout" [paint]="labelPaint">
                </mgl-layer>

                <mgl-layer id="strutture-layer" type="circle" source="strutture" [paint]="struttureCirclePaint">
                </mgl-layer>
            </mgl-map>
        </div>
        <swiper #swiperStrutture [slidesPerView]="1.5" [ngClass]="{'visible_slides': strutture.length}"
            [noSwiping]="false" [allowTouchMove]="true" [centeredSlides]="true" [spaceBetween]="10" [virtual]="true"
            (slideChange)="onSlideChange($event)">
            <ng-container *ngFor="let struttura of strutture;">
                <ng-template class="struttura_slide" swiperSlide *transloco="let t">
                    <ion-grid class="ion-no-margin">
                        <a [routerLink]="['/','detail',struttura.codiceIdentificativo]">
                            <ion-row class="ion-no-margin">
                                <ion-col class="ion-no-margin">
                                    <h5 class="struttura_slide_titolo">{{struttura.denominazione | titlecase}} </h5>
                                </ion-col>
                            </ion-row>
                        </a>
                        <ion-row class="ion-no-margin">
                            <ion-col class="ion-no-margin">
                                <div class="struttura_slide_tipologia">{{struttura.tipologia | titlecase}}</div>
                            </ion-col>
                        </ion-row>
                        <ion-row class="ion-no-margin">
                            <ion-col class="ion-no-margin">
                                <span class="struttura_slide_indirizzo">{{struttura.indirizzo | titlecase}},
                                    {{struttura.comune | titlecase}}</span>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="struttura.nuovaClassificazioneLr11" class="ion-no-margin">
                            <ion-col class="ion-no-margin">
                                <span class="struttura_slide_classificazione">{{'rating' |
                                    transloco:{rating: struttura.nuovaClassificazioneLr11 } |
                                    titlecase}}</span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ng-template>
            </ng-container>
        </swiper>
        <div class="about_btn_container" #aboutBtnContainer>
            <ion-button shape="round" size="small" color="light" (click)="openAboutModal()">
                <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
            </ion-button>
        </div>
    </div>
</ion-content>